@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Oxygen&family=Poppins:wght@600&family=Teko:wght@300&family=Ubuntu:wght@400;500&display=swap');


.active{
    color: rgb(224, 8, 141);
    font-size: 1.2rem;
    text-shadow: 0px 0px 10px #3cfcc9;
    transition: .7s ease-in-out ;
}

.ul-list{
    list-style-type: none;
    margin-right: 30px;
}

.list{
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Noto Serif', serif;
    /* font-family: 'Bubblegum Sans', cursive; */
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px rgb(185, 183, 183);
    padding: 5px 10px;
    margin: 10px 0px;
}
